# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ben Overmyer
	email = "{{ .email }}"
[pager]
	branch = false
[core]
	eol = lf
	autocrlf = input
